*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea

/fuel/app/config/crypt.php
/fuel/app/config/db.php

node_modules


# Compiled files
# ===========

/public/assets/css/main.css
/public/assets/js/main.js
