@import 'nib'

sidebar-size = 230px

// Core
// ===========
html, body
	width: 100%
	height: 100%
	overflow: hidden

body
	font: 12px 'lucida grande', tahoma, verdana, arial, sans-serif
	color: #444

a
	color: #D9320C
	&:hover
		text-decoration: none

#sidebar, #map
	position: absolute
	top: 0
	bottom: 0

.buttons
	height: 24px
	margin-bottom: 15px

.button
	display: inline-block
	font-size: 11px
	line-height: 22px
	padding: 0 6px
	margin: 0
	color: #666
	cursor: pointer
	text-decoration: none
	transition: .08s all ease-out
	background: linear-gradient(darken(#FBECE8, 3) 10%, darken(#FBECE8, 5) 50%, darken(#FBECE8, 20))
	background-size: 200%
	border: 1px solid #F2BBAE
	text-shadow: 1px 1px 1px rgba(white, .3)
	box-shadow: inset 0 0 2px white, 1px 2px 1px rgba(black, .08)
	&:hover
		background-position: 0 50%
		color: #333
	&:active
		box-shadow: inset 0 1px 5px rgba(black, .1), 1px 2px 1px rgba(black, 0)
	&[disabled]
		box-shadow: none
		opacity: .6

// Sidebar
// ===========
#sidebar
	width: sidebar-size
	left: 0
	box-sizing: border-box
	padding: 20px 15px
	box-shadow: 2px 0 16px rgba(black, .1)
	z-index: 1
	.logo
		replace-text: url('../img/logo.png')
		width: 160px
		font-size: 22px
		margin-bottom: 5px

	.title
		color: #999
		font-size: 12px
		font-weight: normal
		margin-bottom: 20px

	.footer
		absolute: bottom 10px left 15px
		font-size: 11px

@keyframes appear {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.lands-list
	font-size: 11px
	margin-bottom: 5px
	max-height: 110px
	overflow: auto
	.land
		cursor: pointer
		position: relative
		animation: appear .5s 1
		background: url('../img/colonies-list.png') no-repeat
		&:hover
			background-position: 0 -40px
			.label
				background: #F9F9F9
	.label
		display: block
		margin-left: 24px
		padding: 2px 20px 2px 0
		min-height: 1em
		background: white
		&.loading
			color: #CCC
	.remove-link
		absolute: top bottom
		right: 0
		replace-text: url('../img/sprites.png')
		background-position: 0 0
		width: 13px
		&:hover
			background-position: 0 -50px

.reset-lands-button
		float: right

#lands.empty
	display: none

.panel
	border-bottom: 1px solid #CCC
	.header
		text-transform: uppercase
		font-weight: bold
		font-size: 10px
		padding: 7px 0
		color: #999
		padding-left: 12px
		cursor: pointer
		background: url('../img/sprites.png') 0 -100px no-repeat
	.content
		position: absolute
		left: -9999px
		max-height: 10px
	label
		display: block
	select, input
		margin: 0 0 5px 0
		width: 100%
		box-sizing: border-box
		&:focus
			outline: none
	input
		font: 12px 'lucida grande', tahoma, verdana, arial, sans-serif
		line-height: 1.2
		padding: 2px 4px
		border: 1px solid #DDD
		color: #333
		background: #FCFCFC
	.button
		float: right

	&.open 
		.header
			background-position: 0 -150px
		.content
			transition: .5s height ease-out, .5s max-height ease-out
			position: static
			overflow: hidden
			max-height: 500px

#search-trail
	border-top: 1px solid #CCC

#search-landholder-table
	max-height: 100px
	margin-bottom: 15px
	overflow: auto
	a
		background: url('../img/sprites.png') 0 -200px no-repeat
		padding-left: 15px



// Map
// ===========
#map
	left: sidebar-size
	right: 0

	.info-window
		padding: 15px
		background: white
		box-shadow: 4px 4px 16px rgba(black, .14)
		.nav 
			height: 30px
			overflow: hidden
			absolute: left right
			top: -30px
			a
				float: left
				line-height: 28px
				height: 30px
				padding: 0 10px
				margin-left: 8px
				margin-top: 2px
				text-decoration: none
				color: #666
				box-shadow: 4px 4px 10px rgba(black, .1)
				background: rgba(#F9F9F9, .9)
				&.active
					background: white
				&:hover
					transition: all .1s ease-out
					margin-top: 0
					color: #333
		.content
			max-height: 1000px
			overflow: auto
			&.hide
				display: none
			.label
				display: inline-block
				overflow: hidden
				position: relative
				width: 200px


		.title
			font-weight: bold
			margin: 15px 0 5px 0
			&:first-child
				margin-top: 0
		.close
			absolute: top 10px right 10px
			width: 14px
			height 14px
			hide-text()
			background: url('../img/sprites.png') 0 -200px
			margin: 0
			padding: 0
			border: none
			cursor: pointer
			&:hover
				background-position: 0 -250px

		&::before
			content: ''
			absolute: bottom -10px left
			border-right: 15px solid transparent
			border-top: 10px solid white


